.arrow {
  position: absolute;
  width: 20px;
  display: inline-flex;
  transition: all 0.5s ease;
  bottom: 50px;

  &:after {
    content: "";
    display: block;
    border: solid #6f7983;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    position: absolute;
    left: 100%;
    margin-left: -10px;
    top: -4px;
    transition: all 0.5s ease;
  }

  &:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background: #6f7983;
    transition: all 0.5s ease;
  }
}

.card-blog {
  position: relative;
  width: 100%;
  display: block;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 10px 30px rgba($color: #000000, $alpha: 0.1);

  span {
    color: #4a4f54;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    @media screen and (max-width: 1024px) {
      font-size: 10px;
    }
  }

  h3 {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 70%;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      width: 90%;
      -webkit-line-clamp: 2;
      margin-top: 10px;
    }
  }

  figure {
    padding-top: calc(9 / 16 * 100%);
  }

  picture {
    position: absolute;
    height: 0;
    padding-top: calc(9 / 16 * 100%);
    display: block;
    z-index: 1;
    top: 0;
    width: 100%;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  figcaption {
    background: #fff;
    padding: 50px 40px;
    height: 260px;
    position: relative;
    z-index: 2;
    will-change: transform;
    backface-visibility: hidden;
    transition: all 0.5s ease;

    @media screen and (max-width: 1024px) {
      padding: 40px 30px;
      height: 200px;
    }
  }

  &:hover {
    .arrow {
      width: 60px;
      bottom: 30px;
    }

    figcaption {
      transform: translateY(-20px);
    }

    h3 {
      color: #e1251b;
    }
  }
}
