.input {
  position: relative;
  font-weight: 400;
  display: flex;

  input {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D8D6;
    padding: 30px 0 10px;
    color: #33364D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    box-sizing: border-box;
    transition: all 0.5s ease;

    &[data-dirty="true"],
    &[data-dirty-important="true"],
    &:focus {
      & ~ label {
        transform: translate(0px, 20px) scale(0.75);
      }
    }

    &:hover {
      border-color: #33364D;
    }

    &:-webkit-input-placeholder {
      color: #64748b;
      font-size: 14px;
      line-height: 16px;
    }
  }

  input[type="text"],
  input[type="password"] {
    -webkit-appearance: none;
  }

  input[type="tel"] {
    &::-ms-clear {
      display: none;
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;

    input:hover {
      opacity: 0.5;
      border-color: #1f242b;
    }
  }

  label {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(0px, 30px) scale(1);
    transform-origin: 0 0;
    transition-property: transform, font-size;
    will-change: transform, font-size;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1);
  }

  pre {
    display: none;
  }
}
