.information {
  display: flex;
  justify-content: space-between;
  background: #e8e8e8;
  margin: 90px 170px;
  padding: 77px 87px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;

  span{
    font-weight: 400;
  }
}