.breadcrumb {
  margin: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  left: 170px;
  border-left: 1px solid rgba($color: #8C8F95, $alpha: .4);
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 30px;
  top: 25px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  li {
    position: relative;
    margin-right: 26px;
    display: inline-flex;

    a {
      color: #8C8F95;
      display: inline-flex;
      align-items: center;


      &::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background: rgba($color: #8C8F95, $alpha: .4);
        border-radius: 100%;
        right: -15px;
        top: 7\3px;
      }
    }

    &:last-child {
      a {
        color: #000;

        &::after{
          display: none;
        }
      }
    }
  }
}