.breadcrumb {
  margin: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  left: 170px;
  border-left: 1px solid rgba($color: #8c8f95, $alpha: 0.4);
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 30px;
  top: 25px;

  @media screen and (max-width: 1366px) {
    position: absolute;
    left: auto;
    top: auto;
    border: 0;
    width: 100%;
    margin-top: 30px;
    padding-left: 36px;

    &--unmobile {
      display: none;
    }
  }

  li {
    position: relative;
    margin-right: 26px;
    display: inline-flex;

    a {
      color: #8c8f95;
      display: inline-flex;
      align-items: center;

      &::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background: rgba($color: #8c8f95, $alpha: 0.4);
        border-radius: 100%;
        right: -15px;
        top: 7\3px;
      }
    }

    &:last-child {
      color: #000;
      a {
        color: #000;

        &::after {
          display: none;
        }
      }
    }
  }
}
