.scroll {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  right: 60px;
  z-index: 8;

  @media screen and (max-width: 1024px) {
    left: 50%;
    margin-left: -20px;
    right: auto;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    transform: rotate(-90deg);
    display: inline-flex;
  }

  div {
    width: 20px;
    height: 30px;
    position: relative;
    margin-top: 20px;

    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 1px;
      background: #000;
      top: 6px;
      left: 10px;
      animation: mainArrowAnim 2s infinite;
      z-index: 2;
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 48px;
      background: rgba($color: #000, $alpha: 0.1);
      top: 6px;
      left: 10px;
      z-index: 1;
    }
  }

  @keyframes mainArrowAnim {
    0% {
      height: 0px;
    }
    50% {
      height: 48px;
    }
    100% {
      height: 0px;
    }
  }
}