.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__big {
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($color: #231F20, $alpha: .3);
    padding: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(300px);
    transition: all 0.5s ease;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__slide {
    width: 132px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #231F20;
    
    img {
      opacity: .5;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    .carousel__slider {
      transform: translateY(0);
    }
  }
}

.content {
  width: calc(100% - 150px);
}

.next {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  i {
    &:before {
      font-size: 26px;
    }
  }
}

.prev {
  color: #fff;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  i {
    &:before {
      font-size: 26px;
    }
  }
}
