@import "../../assets/styles/icons.scss";

.checkbox {
  position: relative;
  display: -webkit-inline-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 610px !important;
  margin-top: 10px;

  span {
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    font-family: volde !important;
    @extend .icon-check;

    &:before {
      position: absolute;
      display: none;
      font-size: 10px;
      left: calc(50% - 6px);
      top: calc(50% - 9.5px);
      color: #fff;
      z-index: 2;
    }

    &:after {
      width: 34px;
      height: 34px;
      content: "";
      position: relative;
      border: 1px solid #A7A8A9;
      background: #E8E8E8;
      border-radius: 3px;
      z-index: 1;
      top: 5px;
    }

    & + div{
      font-size: 14px;
      line-height: 23px;
      font-weight: 300;
    }
  }

  & input:checked {
    ~ span {
      &:after {
        background: #4A4F54;
        border-color: #4A4F54;
      }
      &:before {
        display: block;
      }
    }
  }

  pre {
    display: none;
  }
}
