.blog-detail {
  display: flex;
  flex-wrap: wrap;
  padding: 200px 170px 50px;
  background: #f8f7f7;

  @media screen and (max-width: 1366px) {
    padding: 200px 100px 50px;
  }

  @media screen and (max-width: 1280px) {
    padding: 150px 36px 50px;
  }

  @media screen and (max-width: 1024px) {
    padding: 36px;
    padding-bottom: 0;
  }

  &__block {
    width: 70%;
    padding-right: 75px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 47px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 37px;
      margin-top: 80px;
    }

    h2 {
      font-size: clamp(24px, 2.5vw, 40px);
      line-height: clamp(34px, 3vw, 48px);
      font-weight: 500;
      width: calc(100% - 110px);

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    h3 {
      font-size: 12px;
      font-weight: 400;
      text-align: right;
      line-height: 14px;
      padding-top: 8px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      span {
        font-weight: 500;
        margin-top: 7px;
        display: block;
      }
    }
  }

  &__text {
    font-size: 18px !important;
    line-height: 26px !important;
    font-size: clamp(14px, 1.2vw, 18px) !important;
    line-height: clamp(22px, 2vw, 26px) !important;
    font-weight: 400 !important;
    margin-top: 40px;

    * {
      font-size: clamp(14px, 1.2vw, 18px) !important;
      line-height: clamp(22px, 2vw, 26px) !important;
      font-weight: 300 !important;
    }

    p {
      margin-bottom: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media screen and (max-width: 1024px) {
        border-radius: 20px;
      }
    }
  }

  &__gallery {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 120px;

    @media screen and (max-width: 1024px) {
      gap: 30px;
    }

    > div {
      width: calc(33.333% - 27px);
      @media screen and (max-width: 1024px) {
        width: calc(33.333% - 20px);
      }

      @media screen and (max-width: 768px) {
        width: calc(50% - 15px);
      }
    }
  }

  &__share {
    margin-top: 80px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  &__right-nav {
    width: 30%;

    @media screen and (max-width: 1024px) {
      width: calc(100% + 72px);
      margin: 0 -36px;
      background: #f8f7f7;
      padding: 60px 36px;
    }

    h4 {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      margin-bottom: 47px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }

    > h4 {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    ul {
      font-size: clamp(14px, 1.5vw, 20px);
      line-height: 60px;
      font-weight: 300;

      @media screen and (max-width: 1024px) {
        display: none;
      }
      li {
        border-bottom: 1px solid #f8f7f7;

        a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: #000;
          transition: all 0.5s ease;

          &:hover {
            color: #e1251b;
          }
        }

        span {
          display: inline-block;
          width: calc(100% - 50px);
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
    }

    .right-nav__categories {
      padding-bottom: 25px;
    }

    .right-nav__popular {
      > div {
        margin-bottom: 40px;
      }
    }
  }
}
