@font-face {
  font-family: "volde";
  src: url('./../fonts/volde.svg#volde') format('svg'),
    url("./../fonts/volde.ttf?a52a52af0d15b1839146211348941d21") format("truetype");
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-bold.woff') format('woff'),
       url('/fonts/gotham-bold.ttf') format('truetype'),
       url('/fonts/gotham-bold.svg#gothambold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-medium.woff') format('woff'),
       url('/fonts/gotham-medium.ttf') format('truetype'),
       url('/fonts/gotham-medium.svg#gothammedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-book.woff') format('woff'),
       url('/fonts/gotham-book.ttf') format('truetype'),
       url('/fonts/gotham-book.svg#gothambook') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-light.woff') format('woff'),
       url('/fonts/gotham-light.ttf') format('truetype'),
       url('/fonts/gotham-light.svg#gothamlight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-thin.woff') format('woff'),
       url('/fonts/gotham-thin.ttf') format('truetype'),
       url('/fonts/gotham-thin.svg#gothamthin') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}