.icon {
line-height: 1;
}

.icon:before {
font-family: volde !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-check {
  content: "\f102";
  }

  .icon-check:before {
  content: "\f102";
  }
