.icon {
line-height: 1;
}

.icon:before {
font-family: volde !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-check {
  content: "\f102";
  }

  .icon-check:before {
  content: "\f102";
  }

  %icon-email {
  content: "\f103";
  }

  .icon-email:before {
  content: "\f103";
  }

  %icon-facebook {
  content: "\f104";
  }

  .icon-facebook:before {
  content: "\f104";
  }

  %icon-instagram {
  content: "\f105";
  }

  .icon-instagram:before {
  content: "\f105";
  }

  %icon-linkedin {
  content: "\f106";
  }

  .icon-linkedin:before {
  content: "\f106";
  }

  %icon-youtube {
  content: "\f107";
  }

  .icon-youtube:before {
  content: "\f107";
  }
