.icon {
line-height: 1;
}

.icon:before {
font-family: volde !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-check {
  content: "\f102";
  }

  .icon-check:before {
  content: "\f102";
  }

  %icon-close {
  content: "\f103";
  }

  .icon-close:before {
  content: "\f103";
  }

  %icon-email {
  content: "\f104";
  }

  .icon-email:before {
  content: "\f104";
  }

  %icon-facebook {
  content: "\f105";
  }

  .icon-facebook:before {
  content: "\f105";
  }

  %icon-instagram {
  content: "\f106";
  }

  .icon-instagram:before {
  content: "\f106";
  }

  %icon-linkedin {
  content: "\f107";
  }

  .icon-linkedin:before {
  content: "\f107";
  }

  %icon-twitter {
  content: "\f108";
  }

  .icon-twitter:before {
  content: "\f108";
  }

<<<<<<< HEAD
  %icon-youtube {
  content: "\f109";
  }

  .icon-youtube:before {
  content: "\f109";
  }

  %icon-zoom {
  content: "\f10a";
  }

  .icon-zoom:before {
  content: "\f10a";
=======
  %icon-search {
  content: "\f107";
  }

  .icon-search:before {
  content: "\f107";
>>>>>>> c447349 (home)
  }

  %icon-youtube {
  content: "\f108";
  }

  .icon-youtube:before {
  content: "\f108";
  }
