.search {
  padding: 200px 170px;

  @media screen and (max-width: 1366px) {
    padding: 200px 100px;
  }

  @media screen and (max-width: 1280px) {
    padding: 150px 36px;
  }

  @media screen and (max-width: 1024px) {
    padding: 36px;
  }

  h2 {
    font-size: clamp(28px, 3.5vw, 50px);
    font-weight: 600;
    line-height: clamp(40px, 5vw, 78px);
    margin-bottom: 46px;
    color: #35373c;
  }

  h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #35373c;
    margin: 43px 0;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 60px 0;
    border-top: 1px solid #dcdddc;
    border-bottom: 1px solid #dcdddc;
    margin-top: -1px;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      padding: 30px 0;
    }

    h3 {
      margin: 0;
    }
  }

  .content {
    position: relative;
    width: calc(100% - 110px);

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    & + a {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      line-height: 40px;
      font-weight: 500;
      color: #000000;
      width: 110px;

      @media screen and (max-width: 1024px) {
        justify-content: flex-start;
        margin-top: 30px;
      }

      i {
        padding-left: 20px;
      }
    }
  }

  .text {
    width: 90%;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 23px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
