.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 124px 170px 85px;

  @media screen and (max-width: 1366px) {
    padding: 124px 100px;
  }

  @media screen and (max-width: 1280px) {
    padding: 124px 36px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 36px 36px;
  }

  h2 {
    width: 100%;
    font-weight: 300;
    font-size: clamp(24px, 2vw, 32px);
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 80px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 86px;

    @media screen and (max-width: 1024px) {
      margin-top: 30px;
    }
  }

  &__image {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 1024px) {
      gap: 30px;
      flex-wrap: wrap;
    }

    img {
      width: calc(50% - 20px);
      height: auto;
      object-fit: cover;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}

.systems {
  background: #F8F7F7;
  padding: 170px;

  @media screen and (max-width: 1366px) {
    padding: 170px 100px;
  }

  @media screen and (max-width: 1280px) {
    padding: 120px 36px;
  }

  @media screen and (max-width: 1024px) {
    padding: 36px;
  }

  h2 {
    width: 100%;
    font-weight: 300;
    font-size: clamp(24px, 2vw, 32px);
  }
}

.card-list {
  margin-top: 50px;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media screen and (max-width: 1024px) {
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}