.footer {
  position: relative;
  background: url("/images/line.svg") 10px bottom no-repeat #f2f2f2;
  background-size: calc(100% - 170px);
  z-index: 9;
  @media screen and (max-width: 1366px) {
    background-size: calc(100% - 100px);
  }

  @media screen and (max-width: 1280px) {
    background-position: 0px bottom;
    background-size: calc(100% - 36px);
  }

  @media screen and (max-width: 768px) {
    background-size: 1000px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: clamp(40px, 8vw, 134px);

  @media screen and (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.nav {
  display: flex;
  width: calc(100% - 16px);
  @media screen and (max-width: 1024px) {
    display: none;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
    color: #000;
  }

  ul {
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    a {
      color: #000;
      transition: all 0.5s ease;

      &:hover {
        color: #E1251B;
      }
    }
  }

  > div {
    width: 20%;
    @media screen and (max-width: 1280px) {
      width: 22.5%;
    }

    &:last-child {
      @media screen and (max-width: 1280px) {
        width: 10%;
      }
      ul {
        font-weight: 500;
      }
    }
  }
}

.social-media {
  margin-top: 6px;

  @media screen and (max-width: 1024px) {
    display: flex;
    order: 2;
    width: 100%;
  }
  ul {
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: row;

      i {
        &:before {
          font-size: 20px;
        }
      }
    }
  }
}

.logo {
  margin-top: 200px;
  width: calc(20% - 8px);

  @media screen and (max-width: 1680px) {
    margin-top: 170px;
  }

  @media screen and (max-width: 1440px) {
    margin-top: 140px;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 110px;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.copyright {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin-top: 220px;
  width: 40%;

  @media screen and (max-width: 1680px) {
    margin-top: 190px;
  }

  @media screen and (max-width: 1440px) {
    width: 30%;
    margin-top: 160px;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 130px;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    order: 3;
    margin-top: 80px;
    width: 100%;
  }
}

.policy {
  margin-top: 220px;

  @media screen and (max-width: 1680px) {
    margin-top: 190px;
  }

  @media screen and (max-width: 1440px) {
    margin-top: 160px;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 130px;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    order: 1;
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    gap: 53px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  a {
    color: #000000;
    transition: all 0.5s ease;

    &:hover {
      color: #E1251B;
    }
  }
}

.fikirmod {
  position: absolute;
  right: 170px;
  bottom: 50px;

  @media screen and (max-width: 1366px) {
    right: 100px;
  }

  @media screen and (max-width: 1280px) {
    right: 36px;
  }

  @media screen and (max-width: 1024px) {
    bottom: 30px;
  }
}

.foot {
  display: flex;
  background: #f2f2f2;
  gap: 5px;
  position: relative;
  z-index: 9;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 0;
  }

  > div {
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
