.footer {
  position: relative;
  background: url('/images/line.svg') 10px bottom no-repeat #f2f2f2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 134px;
  padding-bottom: 73px;
}

.nav {
  display: flex;
  width: calc(100% - 16px);

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
    color: #000;
  }

  ul {
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    a {
      color: #000;
    }
  }

  > div {
    width: 20%;

    &:last-child {
      ul {
        font-weight: 500;
      }
    }
  }
}

.social-media {
  margin-top: 6px;
  ul {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  margin-top: 200px;
  width: calc(20% - 8px);
}

.copyright {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin-top: 220px;
  width: 40%;
}

.policy {
  margin-top: 220px;
  ul {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    gap: 53px
  }

  a {
    color: #000000;
  }
}

.fikirmod {
  position: absolute;
  right: 170px;
  bottom: 73px;
}

.foot {
  display: flex;
  background: #f2f2f2;
  gap: 5px;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 0;
  }

  > div {
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}