.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 36, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  flex-direction: column;


  img {
    width: 100% !important;
    height: auto !important;
    border-top-left-radius: 20px;
  }
}

.container {
  max-width: 1120px;
  max-height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
}

.close {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;

  i {
    &:before {
      font-size: 20px;
    }
  }
}