.nav {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  gap: 36px;
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    font-size: 18px;
    line-height: 22px;
  }

  a {
    color: #171454;
  }
}
